/* 
   Reiko14's Design Add-ons v0.1
      For personal use only!     
*/
/*====================================================================
Requires: 
  * Valeriolyndon's Clarity (works for both light and dark theme)
  * Valeriolyndin's dataimagelinkbefore
====================================================================*/

@import "animated-gradient-border.css";
@import "animated-background.css"

 
.list-block { /* List Proper */
  background: none;
  margin-bottom: 50px;
}


.list-unit.all_anime { /* Anime List Container*/
  width: 85% !important;
}


.data.status { /* Status Color */
  width: 75px !important;
  border-right: 2px black solid !important;
}

.list-table-data { /* Anime Row */
    padding-right: 10px !important;
    background-image: linear-gradient(to right top, #000000, #1a1a1a, #2c2c2c, #404040, #555555) !important;
      box-shadow: 0 3px 10px rgb(0 0 0 / 0.5);
}


.list-item { /* The "More" contents in Anime Row */
  background: #1a1a1a !important;
  margin-left: 3px !important;
}

/* Row Border Effects Hover (includes"More" contents) */
.list-item:after{
  content: "";
  /* For Clicking Through */
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/8/89/HD_transparent_picture.png);
  filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='https://upload.wikimedia.org/wikipedia/commons/8/89/HD_transparent_picture.png', sizingMethod='scale');
  pointer-events: none;
  background: none !important;
  /*=======================*/
  position: absolute;
  Border: 3px none;
  left: 0%;
  margin-left: -2.5px;
  top: 50%;
  margin-top: -3px;
  width: 0%;
  height: 0%;
  z-index: -1;
  animation: borderGradient1 5s ease-in-out infinite !important;
}

.list-item:Hover:after {
  width: 99.9%;
  height: 99.9%;
  top: 0px !important;
  border-left-style: solid !important;
  border-top-style: solid !important;
  border-bottom-style: solid !important;
  border-right-style: solid !important;
  z-index: 1;
  transition: border-left-style 0.1s, top 0.1s ease, height 0.1s ease, border-top-style 0.2s, border-bottom-style 0.2s, width .3s ease 0.1s, border-right-style 0.1s ease 0.3s, z-index 0s ease 1s;
}
/*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-*/

/* Poster */
.list-item:hover .data.image a:before{
  height: 270px !important;
}
.data.image a:before{
  position: fixed !important;
  top: auto !important;
  left: auto !important;
  width: 200px !important;
  bottom: 25%;
  right: 1%;
  border-radius: 0px !important;
  border-width: 3px;
  border-style: solid;
  animation: borderGradient1 5s ease-in-out infinite !important;
}
/*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-*/

/* Genre below poster */
.list-table .list-item:hover .data.genre {
  transition: .5s ease;
  visibility: visible !important;
  opacity: 1;
}

.list-table .list-table-data .data.genre{
  position: fixed;
  top: 75%;
  right: 1%;
  opacity: 0;
  Background: #121212;
  visibility: hidden;
  margin: 0px !important;
  padding: 6px 80px 6px 6px !important;
  Background: black !solid;
  z-index: 500;
}

.list-table .list-table-data .data.genre > span {
  width: 85% !important;
}
/*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-*/

/* Airing next to Genre */
.data.airing-started, .data.airing-finished {
  position:fixed !important;
  top: 76% !important;
  right: 0% !important;
  z-index: 501;
  visibility: hidden;
  opacity: 0 !important;
  transition: .0s ease;
}

.data.airing-finished{
  top: calc(76% + 3%) !important;
}

.list-table .list-item:hover .data.airing-started, .list-table .list-item:hover .data.airing-finished{
  visibility: visible !important;
  opacity: 1 !important;
}
/*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-*/
