/*───────────────────────────────────────────┐
│                                            │
│              SIMPlicity V.0.1              │
│              By: Reiko14                   │
│                                            │
│              BASE Layout                   │
│                                            │
└───────────────────────────────────────────*/

/*============================================
Search Tags:
++ Main Category (Header, Body, and Footer)
-- Sub-categories
@@ Extras
============================================*/

/*++ Variables*/
:root {
  --primary: #0e283f;
  --secondary: none;
  --black: #000;
  --bg: linear-gradient(to bottom, #0e283f, cyan);
  --cover: url("https://wallpapercave.com/wp/wp5134476.jpg");
  --avatar: url("https://animesher.com/orig/1/130/1301/13019/animesher.com_yato-yatogami-gif-1301992.gif");
  --avatar-border: url("https://64.media.tumblr.com/098ecc0e2216f77e1841b01f645aa54a/072b204d6bbe468f-0c/s500x750/dbd13241ebc03eee09df6f40c08cef6286746a7a.gifv");
}

/*++ Header*/
.header {
  background-image: var(--cover), linear-gradient(to bottom, #0e283f, #0e283f) !important;
  height: 30em;
  border: none;
  width: 100%;
  background-size: cover;
  background-position: center bottom;
  min-width: 1060px !important;
}

.header-title {
  left: calc(50% - 120px) !important;
  right: auto !important;
  bottom: 5px !important;
  top: auto !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

.header-menu,
.list-status-title,
.list-stats {
  display: none !important;
}

/*++ Body*/
body {
  background-image: var(--bg) !important;
  background-position: center calc(30em - 1px);
}

#status-menu {
  background: transparent !important;
  border: none;
  min-width: 1060px;
  width: 100%;
}

.status-menu {
  background: black;
  border-radius: 25px !important;
  font-size: 100%;
}

#status-menu.fixed {
  background: #000 !important;
  border: none;
}

#status-menu.fixed .status-menu {
  border: none;
}

.status-menu {
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.4);
}

.search-container {
  position: relative !important;
  right: 0px !important;
}

#search-box input {
  background: #000 !important;
  color: #fff;
  outline: none !important;
}

#list-container.list-container {
  position: static;
  width: 100%;
  background: none !important;
  border: none;
  display: inline;
}

.list-block {
  margin-top: 10px !important;
}

.list-table-header {
  visibility: hidden;
  height: 0px !important;
}

.list-table {
  display: grid;
  margin-bottom: 5px;
  border: none !important;
  grid-template-columns: repeat(3, 33%);
  gap: 5px;
  border-collapse: unset !important;
}

.list-table > *:not(.list-item) {
  order: 10000;
}

.list-table-data {
  display: grid !important;
  height: 200px;
  grid-template-columns: repeat(auto-fill, 20px);
  grid-template-rows: repeat(auto-fill, 20px);
}

.list-table .list-table-data .data {
  border: none !important;
}

/*-- Anime Info Design*/
/*@@ Position in Grid*/
.data.image {
  grid-column: 1/5;
  grid-row: 1/6;
}

.data.number {
  grid-column: 4/7;
  grid-row: 2;
}

.data.title.clearfix {
  grid-column: 7/17;
  grid-row: 2;
}

.data.status {
  grid-column: 5/8;
  grid-row: 3;
  justify-self: left;
}

.data.progress {
  grid-column: 8/12;
  grid-row: 3;
}

.data.score {
  grid-column: 12/15;
  grid-row: 3;
}

.data.type {
  grid-column: 2/5;
  grid-row: 6;
}

.data.studio {
  grid-column: 5/16;
  grid-row: 4/6;
  justify-self: left;
}

.data.rated {
  grid-column: 2/5;
  grid-row: 7;
}

/*@@ Element Design*/
.list-table .list-table-data .data.image .image {
  width: 60px;
  height: 85px;
  border: black 2px solid;
}

.data.status {
  width: 100% !important;
  background: none !important;
  margin-left: -5px;
}

.data.status:before {
  content: "Status: ";
  color: white;
  font-weight: bold;
}

.data.status:after {
  content: "⬤";
}

.data.number {
  font-weight: bold;
  font-size: 12px;
  background: black;
  padding-bottom: 20px !important;
  clip-path: polygon(0 0, 100% 0%, 75% 100%, 0% 100%);
  z-index: -1;
}

.data.title.clearfix {
  position: relative;
  padding: 0px !important;
  background: white;
  top: 3px !important;
  padding-top: 2px !important;
  padding-left: 10px !important;
  margin-left: -14px !important;
  z-index: -2;
  clip-path: polygon(0 0, 91% 0, 100% 100%, 0% 100%);
}

.data.progress:before {
  content: "👁";
  font-size: 14px;
  position: relative;
}

.data.progress {
  display: flex !important;
  justify-self: center !important;
}

.data.score:before {
  content: "★";
  font-size: 13px;
  font-weight: bold;
}

.data.score:after {
  content: "hi";
  height: 20px;
  width: 220px;
  color: #222;
  background: #222;
  display: block;
  position: relative;
  top: -17px;
  left: -150px;
  z-index: -3;
  border-bottom-right-radius: 20px;
}

/*@@ Modifiers*/

.data.title .link {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* number of lines to show */
  line-clamp: 1;
  -webkit-box-orient: vertical;
}

.list-table .list-table-data .data.status.reading,
.list-table .list-table-data .data.status.watching {
  color: #2db039;
}

.list-table .list-table-data .data.status.plantoread,
.list-table .list-table-data .data.status.plantowatch {
  color: #c3c3c3;
}

.list-table .list-table-data .data.status.completed {
  color: #26448f;
}

.list-table .list-table-data .data.status.onhold {
  color: #f1c83e;
}

.list-table .list-table-data .data.status.dropped {
  color: #a12f31;
}

/*-- Floating Menu*/
.list-menu-float {
  position: absolute;
  border: none !important;
  top: 7em;
  left: 14em;
}

.icon-menu.quick-add,
.icon-menu.anime-list,
.icon-menu.manga-list,
.icon-menu.export,
.icon-menu.logout,
.icon-menu.setting {
  background: transparent !important;
}

.icon-menu.quick-add:hover,
.icon-menu.anime-list:hover,
.icon-menu.manga-list:hover,
.icon-menu.export:hover,
.icon-menu.logout:hover,
.icon-menu.setting:hover {
  background: #0e283f !important;
}

.icon-menu.quick-add:hover .text,
.icon-menu.anime-list:hover .text,
.icon-menu.manga-list:hover .text,
.icon-menu.export:hover .text,
.icon-menu.logout:hover .text,
.icon-menu.setting:hover .text {
  color: cyan !important;
}

.icon-menu span.text {
  background: #0e283f;
  height: 25px !important;
  margin-left: -1em;
  padding-left: 1em;
  padding-top: 5px;
  left: 2em !important;
  top: 0em !important;
  border-radius: 0px 25px 25px 0px;
  z-index: -1;
}

.icon-menu.profile {
  position: absolute;
  background-image: var(--avatar) !important;
  width: 10em;
  height: 10em;
  border-radius: 50%;
  border: 3px solid #0080ff;
  margin: 1em;
  left: -13em;
  top: calc(50% - 6em);
}

.icon-menu.profile:before {
  content: "";
  display: block;
  width: 12em;
  height: 12em;
  background-image: var(--avatar-border);
  position: relative;
  border-radius: 50%;
  margin: -1.3em;
  z-index: -1;
  border: 3px solid #0080ff;
}

.icon-menu.quick-add {
  left: -4em;
  top: 0.4em;
  width: 30px !important;
  height: 30px !important;
  border-radius: 50%;
}

.icon-menu.quick-add svg {
  left: 5px !important;
  top: 3px !important;
  margin: 0px !important;
  position: absolute;
  transform: scale(0.7);
}

.icon-menu.anime-list {
  left: -1.7em;
  top: -0.2em;
  width: 30px !important;
  height: 30px !important;
  border-radius: 50%;
}

.icon-menu.anime-list svg {
  left: 5px !important;
  top: 3px !important;
  margin: 0px !important;
  position: absolute;
  transform: scale(0.7);
}

.icon-menu.manga-list {
  left: -0.5em;
  top: -0.2em;
  width: 30px !important;
  height: 30px !important;
  border-radius: 50%;
}

.icon-menu.manga-list svg {
  left: 5px !important;
  top: 3px !important;
  margin: 0px !important;
  position: absolute;
  transform: scale(0.7);
}

.icon-menu.export {
  left: -0.3em;
  top: 0em;
  width: 30px !important;
  height: 30px !important;
  border-radius: 50%;
}

.icon-menu.export svg {
  left: 5px !important;
  top: 3px !important;
  margin: 0px !important;
  position: absolute;
  transform: scale(0.7);
}

.list-menu-float form,
.icon-menu.logout {
  left: -1.2em;
  top: 0.1em;
  width: 30px !important;
  height: 30px !important;
  border-radius: 50%;
}

.icon-menu.logout svg {
  left: 6px !important;
  top: 6px !important;
  margin: 0px !important;
  position: absolute;
  transform: scale(0.7);
}

.icon-menu.setting {
  left: -3.3em;
  top: -0.3em;
  width: 30px !important;
  height: 30px !important;
  border-radius: 50%;
}

.icon-menu.setting svg {
  left: 5px !important;
  top: 4px !important;
  margin: 0px !important;
  position: absolute;
  transform: scale(0.7);
}

.icon-menu.setting:hover span.text {
  width: 220px !important;
}

.icon-menu span.text .link-list-setting,
.icon-menu span.text .link-style-setting {
  height: 3em !important;
  margin-top: -10px !important;
  background: none !important;
}

.icon-menu span.text .link-list-setting {
  margin-left: -1em;
  padding-left: 1em;
}

.icon-menu span.text .link-list-setting:hover,
.icon-menu span.text .link-style-setting:hover {
  background: #0e283f !important;
  color: cyan !important;
}

.icon-menu span.text .link-style-setting {
  top: 0px !important;
  left: 8em;
  width: 113px !important;
}

.icon-menu.history {
  display: none;
}

/*++ Footer*/
#recaptcha-terms {
  display: none;
}

#copyright:after {
  content: "\aThis theme is a W.I.P of Reiko14";
  white-space: pre;
}

/*@@ Excluded Functions*/
.add-edit-more,
.icon-watch2 {
  display: none !important;
}
