/*───────────────────────────────────────────┐
│                                            │
│              SIMPlicity V.0.1              │
│              By: Reiko14                   │
│                                            │
│              BASE Layout                   │
│                                            │
└───────────────────────────────────────────*/

/*============================================
Changelog:
-Version 0.1
  + Changed some styles for header, list, body, floating tab, and status menu.
  - Less Configurable
============================================*/

/*++ Root*/
:root {
	--primary: #0e283f
	--secondary: none
	--black: #000
	--bg: linear-gradient(to bottom, #0e283f, #000);
	--cover: url("https://wallpapercave.com/wp/wp5134476.jpg");
	--avatar: url("https://animesher.com/orig/1/130/1301/13019/animesher.com_yato-yatogami-gif-1301992.gif");
	--avatar-border: url("https://64.media.tumblr.com/098ecc0e2216f77e1841b01f645aa54a/072b204d6bbe468f-0c/s500x750/dbd13241ebc03eee09df6f40c08cef6286746a7a.gifv");
}

/*++ Header*/
.header {
	background-image: var(--cover), linear-gradient(to bottom, #0e283f, #0e283f) !important;
	height: 30em;
	border: none;
	width: 100%;
	background-size: cover;
	background-position: center bottom;
	min-width: 1060px !important;
}

.header-title {
	left: calc(50% - 120px) !important;
	right: auto !important;
	margin-left: auto !important;
	margin-right: auto !important;
	bottom: 5px !important;
	top: auto !important;
}

.header-menu,
.list-status-title,
.list-stats {
	display: none !important;
}

/*++ Body*/
body {
	background-image: var(--bg) !important;
	background-position:  center calc(30em - 1px);
}

#status-menu {
	background: transparent !important;
	border: none;
	min-width: 1060px;
	width: 100%;
}

.status-menu {
	background: black;
	border-radius: 25px !important;
	font-size: 100%;
}

#status-menu.fixed {
	background: #000 !important;
	border: none;
}

#status-menu.fixed .status-menu {
	border: none;
}

#list-container.list-container {
	position: static;
	width: 100%;
	background: none !important;
	border: none;
	display: inline;
}

.list-block {
	margin-top: 10px !important;
}

.list-table-header {
	visibility: hidden;
	height: 0px !important;
}

.list-table {
	margin-bottom: 5px;
	border: none !important;
}

.status-menu {
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.4);
}

.search-container {
  position: relative !important;
  right: 0px !important;
}

#search-box input {
  border: none !important;
  border-radius: 0px !important;
  background: #0e283f !important;
  color: #fff;
}

.list-table {
  border-collapse: unset !important;
  flex-flow: column wrap;
  align-content: stretch;
}

.list-table .list-table-data .data {
  border: none !important;
}

/*-- Floating Menu*/
.list-menu-float {
	position: absolute;
	border: none !important;
	top: 7em;
	left: 14em;
}

.icon-menu.quick-add,
.icon-menu.anime-list,
.icon-menu.manga-list,
.icon-menu.export,
.icon-menu.logout,
.icon-menu.setting {
	background: transparent !important;
}

.icon-menu.quick-add:hover,
.icon-menu.anime-list:hover,
.icon-menu.manga-list:hover,
.icon-menu.export:hover,
.icon-menu.logout:hover,
.icon-menu.setting:hover {
	background: #0e283f !important;
}

.icon-menu.quick-add:hover .text,
.icon-menu.anime-list:hover .text,
.icon-menu.manga-list:hover .text,
.icon-menu.export:hover .text,
.icon-menu.logout:hover .text,
.icon-menu.setting:hover .text {
	color: cyan !important;
}

.icon-menu span.text {
	background: #0e283f;
	height: 25px !important;
	margin-left: -1em;
	padding-left: 1em;
	padding-top: 5px;
	left: 2em !important;
	top: 0em !important;
	border-radius: 0px 25px 25px 0px;
	z-index: -1;
}

.icon-menu.profile {
	position: absolute;
	background-image: var(--avatar) !important;
	width: 10em;
	height: 10em;
	border-radius: 50%;
	border: 3px solid #0080ff;
	margin: 1em;
	left: -13em;
	top: calc(50% - 6em);
}

.icon-menu.profile:before {
	content: "";
	display: block;
	width: 12em;
	height: 12em;
	background-image: var(--avatar-border);
	position: relative;
	border-radius: 50%;
	margin: -1.3em;
	z-index: -1;
	border: 3px solid #0080ff;
}

.icon-menu.quick-add {
	left: -4em;
	top: 0.4em;
	width: 30px !important;
	height: 30px !important;
	border-radius: 50%;
}

.icon-menu.quick-add svg {
	left: 5px !important;
	top: 3px !important;
	margin: 0px !important;
	position: absolute;
	transform: scale(0.7);
}

.icon-menu.anime-list {
	left: -1.7em;
	top: -0.2em;
	width: 30px !important;
	height: 30px !important;
	border-radius: 50%;
}

.icon-menu.anime-list svg {
	left: 5px !important;
	top: 3px !important;
	margin: 0px !important;
	position: absolute;
	transform: scale(0.7);
}

.icon-menu.manga-list {
	left: -0.5em;
	top: -0.2em;
	width: 30px !important;
	height: 30px !important;
	border-radius: 50%;
}

.icon-menu.manga-list svg {
	left: 5px !important;
	top: 3px !important;
	margin: 0px !important;
	position: absolute;
	transform: scale(0.7);
}

.icon-menu.export {
	left: -0.3em;
	top: 0em;
	width: 30px !important;
	height: 30px !important;
	border-radius: 50%;
}

.icon-menu.export svg {
	left: 5px !important;
	top: 3px !important;
	margin: 0px !important;
	position: absolute;
	transform: scale(0.7);
}

.list-menu-float form,
.icon-menu.logout {
	left: -1.2em;
	top: 0.1em;
	width: 30px !important;
	height: 30px !important;
	border-radius: 50%;
}

.icon-menu.logout svg {
	left: 6px !important;
	top: 6px !important;
	margin: 0px !important;
	position: absolute;
	transform: scale(0.7);
}

.icon-menu.setting {
	left: -3.3em;
	top: -.3em;
	width: 30px !important;
	height: 30px !important;
	border-radius: 50%;
}

.icon-menu.setting svg {
	left: 5px !important;
	top: 4px !important;
	margin: 0px !important;
	position: absolute;
	transform: scale(0.7);
}

.icon-menu.setting:hover span.text {
	width: 220px !important;
}

.icon-menu span.text .link-list-setting,
.icon-menu span.text .link-style-setting {
	height: 3em !important;
	margin-top: -10px !important;
	background: none !important;
}

.icon-menu span.text .link-list-setting {
	margin-left: -1em;
	padding-left: 1em;
}

.icon-menu span.text .link-list-setting:hover,
.icon-menu span.text .link-style-setting:hover {
	background: #0e283f !important;
	color: cyan !important;
}

.icon-menu span.text .link-style-setting {
	top: 0px !important;
	left: 8em;
	width: 113px !important;
}

.icon-menu.history {
	display: none;
}

/*++ Footer*/
#recaptcha-terms {
	display: none;
}

#copyright:after {
	content: "\aThis theme is a W.I.P of Reiko14";
	white-space: pre;
}
